header {
  background-image: url("web.jpg");
}

:root {
    background: #0b111f;
    color: #ebebeb;
    background-color: none;
    font-family: sans-serif;
}

.button {
    border: none;
    color: #ebebeb;
    background-color: #0b111f;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    width: 150px;
  }

.button:hover {
    background-color: #16213a;
  }

.shredder {
    color: #ebebeb;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 70px;
    text-align: center;
}

form {
    text-align: center;
}